@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 1rem;
  scroll-behavior: smooth;
}

// CORE
@import "core/breakpoints";
@import "core/colors";
@import "core/typography";
@import "core/utilities";

// PARTIALS
@import "partials/header";
@import "partials/footer";

body {
  @apply text-black;
}

.big-title {
  @apply text-[1.7769rem] lg:text-[2.875rem];
}

.big-text {
  @apply text-[1.25rem] lg:text-[1.7769rem];
}

.text {
  @apply text-[1.125rem];
}

.circle-decoration {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #1d1900 0%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 625rem;
}

.circle-decoration-active {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #6e6201 0%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 625rem;
}

.background-image-default {
  background: center no-repeat;
  background-size: cover;
  background-image: url("/img/background-image.webp");
}

* {
  z-index: 2;
}

* {
  scrollbar-width: 0.25rem;
  scrollbar-color: #ffa500 #a6ff00;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.25rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #112F27;
  border-radius: 62.4375rem;
}

.element {
  position: relative;
  transform: translateY(3.125rem);
  opacity: 0;
  transition: 1s all ease-in-out;
}

.element.is-visible {
  transform: translateY(0);
  opacity: 1;
}

.class {
  font-size: 36px;
}
